<div class="box box-solid">
  <div class="box-header with-border">
    <h3 class="box-title"><b>Enunciado:</b></h3>
  </div>

  <div class="box-body">
    <%= markdown(@question.description) %>
  </div>
</div>

<%= form_tag '#' do %>
  <%= text_area_tag :answer, nil, class: "form-control", rows: 15, placeholder: "Digite sua resposta" %>
  <%= submit_tag 'Responder', class: "btn btn-info btn-flat" %>
<% end %>
