<table class="table table-bordered">
  <tbody>
    <tr>
      <th style="width: 10px">#</th>
      <th>Exercício</th>
      <th>Progresso</th>
    </tr>
    <% @team_exercises.each_with_index do |exercise, index| %>
      <tr>
        <td><%= index %>.</td>
        <td><%= link_to exercise.title, list_exercise_questions_team_url(@team, exercise) %></td>
        <td>
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-alert" style="<%= progress(exercise, @team) %>"></div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
