<% breadcrumb :list_questions, @team, @exercise %>

<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#status" data-toggle="tab" aria-expanded="true">
        Status das questões
      </a>
    </li>

    <li>
      <a href="#mapping" data-toggle="tab" aria-expanded="true">
        Mapeamento de dependências
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="status">
      <%= render(
            partial: 'teams/list_questions/questions_status',
            locals: {
                exercise: @exercise,
                team: @team,
                dependency_checker: @dependency_checker
            }
          )
      %>
    </div>

    <div class="tab-pane" id="mapping">
      <%=
          render(
            partial: 'teams/list_questions/dependencies_map',
            locals: { dependency_checker: @dependency_checker, team: @team }
          )
      %>
    </div>
  </div>
</div>
