<ul class="timeline">
  <% @comments.each do |comment| %>
    <li id="time-comment-<%= comment.id %>" class="time-label">
      <span class="bg-gray">
        <%= comment.created_at.strftime("%d/%m/%Y") %>
      </span>
    </li>

    <%= render partial: 'comments/comment', locals: { comment: comment } %>
  <% end %>
</ul>

<script>
  $(document).on('click', '#cancel-edit', function(event) {
    event.preventDefault();
    $('#comments-form').html("<%= escape_javascript(render partial: 'comments/form', locals: { comment: @comment, answer: @answer, btn_text: 'Postar comentário' } ) %>");
  });
</script>
