<%= form_for [answer, comment], remote: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= f.submit btn_text, class: "btn btn-primary pull-right" %>
<% end %>
