<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"><%= box_title %></h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body" style="overflow-x: hidden; overflow-y: auto; max-height: 400px">
    <%= yield %>
  </div><!-- /.box-body -->
</div>
