<%= provide(:header, "Recomendações recebidas") %>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="box box-body">
      <div id="recommendations">
        <%= render "recommendations/index/recommendations" %>
      </div>
    </div>

    <div class="text-center">
      <%= render "shared/paginate", object: @messages %>
    </div>
  </div>
</div>
