<% unless object.empty? %>
  <section id="flash-messages" class="content-header">
    <% object.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  </section>
<% end %>
