<div class="main-sidebar">
  <!-- Inner sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Menu de operações</li>
       <li>
         <%= link_to exercises_path do %>
           <i class="fa fa-pencil-square-o"></i>
           <span>Meus exercícios</span>
         <% end %>
       </li>
       <li>
         <%= link_to teams_path do %>
           <i class="fa fa-users"></i>
           <span>Minhas turmas</span>
         <% end %>
       </li>
      <li class="treeview">
        <a href="#"><span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->

  </div><!-- /.sidebar -->
</div><!-- /.main-sidebar -->
