// Page height isn't recalculated when nem elements are appended. This method
// does the job.
function adjustScreen() {
  var new_height = $('.content-wrapper').height() + $('#test-results').height()
                   + $('#error_explanation').height();
  $('.content-wrapper').height(new_height);
}

// Add tests cases results in the page.
function placeTestCasesResults() {
  // Display each result in the screen.
  <% @results.each_with_index do |result, index| %>
    $('#test-results').append("<%= j(render 'answers/test_case_result', correct: result[:correct], test_case: result[:test_case], output: result[:output]) %>");
  <% end %>
}

// Remove form invalid submition message, if present.
$('#error_explanation').remove();

<% if @answer.content.empty? %>
  $('.fa.fa-refresh.fa-spin').remove();
  $('#new_answer').prepend(
    '<div id="error_explanation"> \
      <div class="alert alert-danger"> \
        Forneça uma resposta! \
      </div> \
    </div>'
  );
<% else %>
  <% if @answer.correct? %>
    $('.fa.fa-refresh.fa-spin').replaceWith('<div id="answer-result"><i class="fa fa-circle text-green"></i> <span>Resposta correta</span></div>');
    placeTestCasesResults();
  <% else %>
    $('.fa.fa-refresh.fa-spin').replaceWith('<div id="answer-result"><i class="fa fa-circle text-red"></i> <span>Resposta incorreta</span></div>');
    placeTestCasesResults();
  <% end %>
<% end %>

adjustScreen();
