<%= provide(:header, "Responder questão '#{@question.title}'") %>

<% provide(:url, url_for(:action => 'create', :controller => 'answers')) %>

<% breadcrumb :new_answer, @team, @question %>

<div class="col-md-6" style="border-right: 1px solid black">
  <%= render "shared/answer_form" %>
  <br></br>
  <div id="test-results">
    <% @results.each do |result| %>
      <%= render 'answers/test_case_result', correct: result[:correct], test_case: result[:test_case], output: result[:output] %>
    <% end %>
  </div>
</div>

<div class="col-md-6">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title"><b>Enunciado:</b></h3>
    </div>

    <div class="box-body">
      <%= markdown(@question.description) %>
    </div>
  </div>
</div>
