<div class="modal" id="connection-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">

        <div class="callout callout-info">
          <p class="text-center">
              <b>Grau de semelhanca: </b> 
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<script text="text/javascript">
  $('#connection-container').on('hidden.bs.modal', function () {
  });
</script>
