/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require AdminLTE/bootstrap/css/bootstrap
 *= require AdminLTE/dist/css/AdminLTE
 *= require AdminLTE/dist/css/skins/skin-blue
 *= require AdminLTE/plugins/daterangepicker/daterangepicker
 *= require AdminLTE/plugins/datatables/dataTables.bootstrap
 *= require AdminLTE/plugins/datatables/jquery.dataTables_themeroller
 *= require simplemde/dist/simplemde.min
 *= require jsdifflib/diffview
 *= require_tree .
 *= require_self
 */

$light-green: #B3D372;
$light-red: #E27A7A;

svg { width: 100%; height: 100%;}

#graph-menu {
  position: fixed;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#editor_div {
    display: block;
    width: 100%;
    height: 400px;
    font-size: 15px;
}

.bg-gold {
  background-color: gold;
}

.bg-silver {
  background-color: silver;
}

.bg-bronze {
  background-color: brown;
}

.user-row {
  background-color: #F0F4C3;
}

.flex-box {
  display: flex;
  flex-flow: row wrap;
  width: auto;

  .flex-item {
    height: 25px;
    text-align: center;
    margin: 1.5px;
    padding: 2px 4px 2px 4px;
    border-radius: 5px
  }
}

.correct {
  background: #B3D372;
}

.incorrect {
  background: #E27A7A;
}

.tooltip-inner {
    max-width: 100em;
    word-break: break-all;
    text-align: left;
    //white-space: nowrap;
}

dt {
  font-size: 14px;
}

td {
  padding: 2px;
}

.right-wrong {
  background: linear-gradient(to right, $light-green 50%, $light-red 50%);
}

.wrong-right {
  background: linear-gradient(to right, $light-red 50%, $light-green 50%);
}

.right-right {
  background: $light-green;
}

.wrong-wrong {
  background: $light-red;
}

#loading-modal {
    display:    block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://sampsonresume.com/labs/pIkfp.gif')
                50% 50%
                no-repeat;
}

digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden;
}
