/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require AdminLTE/bootstrap/css/bootstrap
 *= require AdminLTE/dist/css/AdminLTE
 *= require AdminLTE/dist/css/skins/skin-blue
 *= require simplemde/dist/simplemde.min
 *= require_tree .
 *= require_self
 */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#editor_div {
    display: block;
    width: 100%;
    height: 400px;
    font-size: 15px;
}

.bg-gold {
  background-color: gold;
}

.bg-silver {
  background-color: silver;
}

.bg-bronze {
  background-color: brown;
}

.user-row {
  background-color: #F0F4C3;
}

.flex-box {
  display: flex;
  flex-flow: row wrap;
  width: auto;

  .flex-item {
    height: 25px;
    text-align: center;
    margin: 1.5px;
    padding: 2px 4px 2px 4px;
    border-radius: 5px
  }
}

.correct {
  background: rgba(255, 0, 0, 0.5);
}

.incorrect {
  background: rgba(0, 255, 0, 0.5);
}

.tooltip-inner {
    max-width: 100em;
    word-break: break-all;
    text-align: left;
    //white-space: nowrap;
}

dt {
  font-size: 14px;
}
