<% if @team.have_exercise?(exercise) %>
   <span class="label label-success">Adicionado</span>
<% else %>
  <%= link_to(
    "Adicionar",
    add_or_remove_exercise_team_path(@team, exercise, operation: :add),
    method: :post,
    class: "btn btn-block btn-primary btn-xs",
    remote: true
  ) %>
<% end %>
