<% if team.have_exercise?(exercise) %>
   <span class="label label-success">Adicionado</span>
<% else %>
  <%= link_to(
    "Adicionar",
    team_exercises_path(team_exercise: { exercise_id: exercise.id, team_id: team.id }),
    method: :post,
    class: "btn btn-block btn-primary btn-xs",
    remote: true
  ) %>
<% end %>
