<div class="tab-pane active" id="exercises-list">
  <div class="box-body">
    <% if can? :add_or_remove_exercise, @team %>
      <button id="add-exercise" class="btn btn-primary pull-right">
        Adicionar exercício
      </button>
    <% end %>

    <br></br>

    <div id="exercises-table">
      <% if current_user.owner?(@team) %>
        <%= render 'teams/exercises/teacher_exercises_table', team_exercises: @team_exercises %>
      <% else %>
        <%= render 'teams/exercises/student_exercises_table', team: @team %>
      <% end %>
    </div>
  </div>
</div>
