<div class="modal" id="exercises-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Meus exercícios</h>
        <button
          id="close"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th style="width: 10px">#</th>
              <th>Exercício</th>
              <th style="width: 50px"></th>
            </tr>

            <% teacher_exercises.each_with_index do |exercise, index| %>
              <tr>
                <td><%= index %>.</td>
                <td><%= exercise.title %></td>
                <td id="add-exercise-<%= exercise.id %>">
                  <%= render(
                    partial: 'teams/exercises/add_exercise',
                    locals: { exercise: exercise, team: team }
                  ) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
