<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="box box-solid box-default">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="width: 10px">#</th>
            <th>Questão</th>
            <th style="width: 70px">Resposta</th>
          </tr>
          <% @questions.each_with_index do |question, index| %>
            <tr>
              <td><%= index %>.</td>
              <td><%= link_to truncate(question.description, length: 50, separator: " "), new_answer_url(question) %></td>
              <td>
                <%= raw question_status(question) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
