<%= provide(:header, "Seus O.A.'s") %>

<%= link_to "Criar novo O.A.", new_learning_object_path, class: "btn btn-primary pull-right" %>
<br></br>
<br></br>
<% 10.times do |lo| %>
  <div class="box box-solid box-default">
    <div class="box-header">
      <h3 class="box-title">Default Solid Box Example</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      The body of the box
    </div><!-- /.box-body -->
  </div>
<% end %>
